.headerLink {
    align-items: center;
    width:auto;

    background-image: radial-gradient(100% 100% at 100% 0, #c9489a 0, #ff549e 100%);
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: sans-serif;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
 
    padding:16px;
    position: relative;
    text-align: left;
    text-decoration: none;


    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 24px;
}

.headerLink:hover {
    box-shadow: rgba(45, 35, 66, .4);
}

.headerLink:active {
    box-shadow: #c10670 0 3px 7px inset;

}

